@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg-img{
    background: url(./work\ image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg-img::after{
    position: absolute;
    content: '';
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 500px;
    text-align: center;
    z-index: 999;
    text-align: center;
    padding: 40px;
    background: rgba(0,0,0,0.5);
}

h1{
    color:white;
    font-size:33px;
    font-weight: 750;
    font-family: cursive;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

.field{
    position: relative;
    height: 35px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.field input{
    /* height: 100%; */
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: cursive;
    padding: 6px;
}

.field select{
    /* height: 100%; */
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: cursive;
    border-radius: 10px;
    padding: 6px;
}

.field span{
    color:rgb(119, 112, 112);
    width: 40px;
    line-height: 45px;
    padding-right: 20px;
}

.field .country-code {
    width: 50px;
    margin: 0 10px 0 6px;
    padding: 6px;
}

input {
    border-radius: 10px;
}

.btn .btn-submit{
    margin-top: 20px;
    padding: 7px 22px;
    border-radius: 30px;
    color:black;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: letter-spacing 400ms;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.btn .btn-submit:first-child{
    background-color: rgb(189, 165, 165);
}
.btn .btn-submit:hover{
    background-color: aquamarine;
    letter-spacing: 2px;
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up {
    background: white;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.popup-close {
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    color: red;
    cursor: pointer;
}

.popup-content {
    padding: 40px;
}

.popup-content h3 {
    margin-bottom: 20px;
}